.contacts-main{
    display: inline-block;
    border: 2px solid #AC9675;
    width: 50%;
    height: 50%;
    max-width: 60em;
    min-width: 35em;
    background-color: #F7F5EE;
    margin-top: 2em;
    margin-left: 2em;
    border-radius: 1em;
    padding: 1em;
    
}
.posti{
  text-align: left;
  display: inline-block;
  width: 30%;
}

.taulu{
  display: inline-block;
  text-align: left;
  width: 100%;
  overflow-y: auto;
  height: 30em;
}

.getti{
  display: inline-block;
  float: right;
  margin-right: 0.5em;
}

tbody:nth-child(even) {
  background: white}


  tbody:nth-child(odd) {
  background: rgb(228, 197, 197)}


.kentta{
  margin-left: 0em;
  display: block;
}

.otsake{
  text-align: center;
}

.submitti{
    background-color: #4CAF50; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
  margin-top: 0.5em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.taulukko{
  border-bottom: 1px solid #ddd;
  text-align: center;
  height:30px;
  max-width: 10em;
  word-wrap: anywhere;
}